@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font: ;
    --font01: ;

    --cor: ;
    --cor01: ; 
}

body {

}

header {
    
}

nav {

}

hr {
    background-color: black;
    border: 2px solid;
    margin-top: 4px;
    
}